<p>Olá <strong>{{organizer.name}}</strong>, acabamos de receber um novo inscrito para a meetup <strong>{{meetup.title}}</strong></p>

<br />

<p><strong>Dados do Usuário:</strong></p>

<p>
    Nome: {{user.name}}<br />
    E-mail: {{user.email}}<br />
</p>
